
# Tout exclure par défaut
*

# Sauf nos dotfiles
!hypr/
!hypr/**
!kitty/
!kitty/**
!fish/
!fish/**
!starship/
!starship/**
!waybar/
!waybar/**
!dunst/
!dunst/**
!rofi/
!rofi/**
!wlogout/
!wlogout/**
!tmux/
!tmux/**
!yazi/
!yazi/**
!fastfetch/
!fastfetch/**
!nvim/
!nvim/**
!.gitignore
