configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    font: "JetBrainsMono Nerd Font 12";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps";
    display-run: "   Run";
    display-window: "   Window";
    sidebar-mode: true;
}

@theme "/home/jo/.config/rofi/catppuccin-mocha.rasi"
