* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
}

window {
    background-color: rgba(30, 30, 46, 0.9);
}

button {
    color: #cdd6f4;
    background-color: #1e1e2e;
    border-style: solid;
    border-width: 2px;
    border-color: #cba6f7;
    border-radius: 12px;
    margin: 10px;
    font-size: 18px;
    transition: background-color 0.2s ease;
}

button:focus,
button:active,
button:hover {
    background-color: #cba6f7;
    color: #1e1e2e;
    outline-style: none;
}

#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

#hibernate {
    background-image: url("/usr/share/wlogout/icons/hibernate.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
